/* CSS file for Resume Builder Website */

html, body{
margin:0;
padding:0;
height:100%;
}

/* css for the home page */
#header {
    color:white;
    text-align:center;
    padding:0.3%;
    width:100%;
    height:5%;
    position:fixed;
    background-color:#eeeeee;
}

#nav {
    line-height:150%;
    background-color:#eeeeee;
    height:73.5%;
    width:15%;
    float:left;
    padding:5% 0% 5% 0%; 
    background-image:url(TestBG4.jpg);
    background-repeat: repeat;
}

#section {
    width:85%;
    float:left;
    padding:0% 0% 0% 0%;
    height:95%;
    background-image:url(TestBG4.jpg);
    background-repeat: repeat;
}
#footer {
    line-height:100%;
    width:100%;
    background-color:#eeeeee;
    color:black;
    clear:both;
    text-align:center;
    height:5%;
}


/* This is a header navigation */

#headerList{
list-style-type:none;
margin:0;
padding:0;
}

#headerList li{
float:left;	
}

#headerList li a{
display:block;
text-align:center;
padding:2px 7px 2px 5px;
}

#innerHeaderList{
list-style-type:none;
margin:0;
padding:0;
}

#innerHeaderList li{
float:right;
}

#innerHeaderList li a{
display:block;
text-align:center;
color:black;
text-decoration:none;
font-size:20px;
padding:5px 30px ;
}

#innerHeaderList li a:hover{
background-color:#01A9DB;
 color:black;
}


/* This is a side navigation */

#nav li a{
display:block;
text-align:left;
font-size:20px;
color:black;
text-decoration:none;
padding:5% 5% 5% 5%;
}

#nav li a:hover{
 background-color:#01A9DB;
 color:black;
}

#navigationList{
list-style-type:none;
margin:0;
padding:0;
}


/* opacity for the navigation icons in header */

#headerLogo{
 opacity:0.7;
}

#headerLogo:hover{
 opacity:1.0;
}


/* This is profile pic settings */

#nav .profile #profilePic{
padding:5% 25% 0% 30%; 
border-radius: 8px;
}

#nav .profile p{
text-align:center;
vertical-align:middle;
font-weight:bold;
}

/*Iframe setting*/
#my_iframe{
width:100%;
height:100%;
}

/* styling for the paragraphs */

.experienceListOuter, .experienceListInner, .experienceList3, .experienceList4{
list-style-type:none;
}

.educationListOuter, .educationListInner, .educationList3, .educationList4{
list-style-type:none;
}

.skillsListOuter, .skillsListInner, .skillsList3, .skillsList4{
list-style-type:none;
}

.extraCurrListOuter, .extraCurrListInner, .extraCurrList3, .extraCurrList4{
list-style-type:none;
}

#headingText{
text-align:center;
font-size:220%;
font-weight:bold;
color:#DF0101;
padding 10% 2% 2% 2%;
}


.p1{
font-size:160%;
color:#DF0101;
font-style:italic;
font-weight:bold;
}

.p2{
font-size:130%;
background-color:#01A9DB;
color:black;
}

.p3{
font-size:120%;
color:black;
font-weight:bold;
}

.p4{
font-size:110%;
color:black;
}

.p5{
font-size:100%;
font-weight:bold;
color:black;
text-align:center;
}

.educationList3 img{
float:right;
margin: 0 0 2% 2%;
}

/* This is contact form styling */
#contact{
padding-left:6%
}

#contact p{
text-align:left;
font-size:30px;
font-weight:bold;
color:#DF0101;
}

#contact table{
border: 2px solid grey;
padding: 2% 2% 2% 2%;
}

#contactTable td{
vertical-align: top;
}

#contactTable {
width:50%;
}


/* This is home side page styling */

#content{
line-height:150%;
float:left;
width:60%;
height:40%;
padding-top:2%;
}

#contactDetails{
float:left;
width:34%;
height:40%;
padding-top:2%;
}

#tab tr{
text-align:left;
font-size:100%;
}

#tab th,#tab td{
padding:1%;
}

#skillHighlight{
float:left;
line-height:100%;
padding:3% 5% 0% 5%;
}

#div1, #div2, #div3, #div4{
width: 50%;
height:20%;
background:#01A9DB;
margin:1%;
float:left;
-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
transition: width 2s;
}

#content {
padding-left:6%;
}

#div1:hover {
    width:70%;
}
#div2:hover {
    width:70%;
}
#div3:hover {
    width:70%;
}
#div4:hover {
    width:70%;
}